:root {
    
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }

  article, aside, details, figcaption, image, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }

  a {
    text-decoration: none;
  }

  image {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  ol, ul {
      list-style: none;
  }

  blockquote, q {
      quotes: none;
  }

  button {
    all: unset;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }

  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    line-height: 1;
    padding: 0 1.8em;
}
.container {
    margin: 0 auto;
}

/*BUTTON*/
.btn {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: .5rem;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

/*HEADER*/
header {
    display: flex;
    align-items: center;
    height: 12rem;
}

header.container {
    margin-bottom: 1rem;
}

/*NAVBAR*/
.navbar,
.nav {
    display: flex;
    justify-content: space-evenly;
}

.navbar {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.navbar .nav-logo {
    margin-bottom: 3.5rem;
}

.nav {
    width: 100%;
}

.nav .nav-item,
.nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-item.relative {
    position: relative;
}

.nav .nav-link {
    color: #000;
}

.nav .nav-link img{
    margin-left: .5rem;
    width: 2rem;
}

.nav .nav-dropdown-menu {
    visibility: hidden;
    width: 10rem;
    position: absolute;
    top: 2rem;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.nav .nav-dropdown-menu.show {
    visibility: visible;
    opacity: 1;
}

.nav .nav-dropdown-menu .nav-item {
    margin: 1rem 0;
    text-align: left;
}

/*BREADCRUMBS*/
.breadcrumb,
.breadcrumb ul,
.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb {
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.breadcrumb li .breadcrumb-divider {
    width: 20px;
}

/*FILTER*/

.filter-btn {
    justify-content: center;
}

.filter-dropdown-btn {
    justify-content: space-between;
}

.filter-dropdown-btn span{
    margin-left: 1rem;
}

.filter-dropdown-btn img{
    margin-right: 1rem;
}

.filter-body {
    margin-bottom: 1rem;
}

.filter-btn-submit {
    justify-content: center;
    padding: 1.2rem 0;
    margin: 1rem 0 2.5rem 0;
    background-color: #000;
    color: #fff;
}

/*POST TEMPALTE*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.posts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.post {
    border-radius: 1rem;
    border: 1px solid var(--border-color); 
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;  
    cursor: pointer;
    width: calc((100% - 1.25rem));
    box-shadow: 0px 0px 1rem 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 0.5rem 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0.5rem 1px rgba(0,0,0,0.75);
}

.post .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.post .card-img-top {
    width: 100%;
    min-height: 25rem;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.post .card-body {
    width: 100% ;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
}


/*LOAD MORE*/
.load-more {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.load-more-btn {
    background: #000;
    color: #fff;
    width: 15rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*MODAL*/
.post-modal {
    display: none; 
}

.post-modal.show {
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-modal-dialog {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 10px;
}

.post-modal.show .post-modal-dialog {
    margin: 0 5px;
    position: relative;
    z-index: 10;
    opacity: 1;
}

.post-modal-header,
.post-modal-arrows {
    height: 80px;
    padding: 0 20px;
}

.post-modal-header strong{
    font-size: 25px;
}
 
.post-modal-header,
.post-modal-footer {
    background-color: #fff;
}

.post-modal-header,
.post-modal-footer .post-modal-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.post-modal-header .post-modal-close,
.post-modal-footer .post-arrow-btn {
    height: 100%;
    width: 80px;
    margin-right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-modal-body {
    height: 75%;
    width: 100%;
    background-color: #fff;
}

.post-modal-footer {
    padding-bottom: 15px;
}

.post-modal-footer .post-modal-arrows {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    position: relative;
}

.post-modal-header .post-modal-close {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.post-modal-footer .post-arrow-btn.prev, 
.post-modal-footer .post-arrow-btn.next {
    position: absolute;
}

.post-modal-footer .post-arrow-btn.prev {
    left: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.post-modal-footer .post-arrow-btn.next {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    right: 20px;
}

.post-modal-footer .post-category {
    padding: 5px 20px;
}

.post-modal-close i,
.post-modal-arrows i {
    font-size: 35px;
    cursor: pointer;
}

@media screen and (min-width:576px) {
    .container {
        max-width: 540px;
    }

}

@media screen and (min-width:768px) {
    .container {
        max-width: 720px;   
    }

    .posts {
        justify-content: flex-start;
    }

    .post {
        width: 47%;
        margin: 1rem;
        
    }
}

@media screen and (min-width:1000px) {

   
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 135rem;
    }

    .breadcrumb span {
        margin-right: 2.5rem;
    }

    .main-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .filter {
        width: 28rem;
        margin-right: 1.6rem;
        margin-top: 1rem;
    }

    .post {
        width: 31%;
    }
}
