:root {
    --black: #181818;
    --transition: all 0.2s ease-in;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }

  article, aside, details, figcaption, image, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }

  a {
    text-decoration: none;
  }

  image {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  ol, ul {
      list-style: none;
  }

  blockquote, q {
      quotes: none;
  }

  button {
    all: unset;
    cursor: pointer;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }

  strong {
    font-weight: 500;
  }

  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    line-height: 1;
    padding: 0 1.8rem;
    color: var(--black);
}
.container {
    margin: 0 auto;
}

/*BUTTON*/
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black);
    border-radius: .5rem;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

/*HEADER*/
header {
    display: flex;
    align-items: center;
    height: 12rem;
}

header.container {
    margin-bottom: 2.5rem;
}

/*NAVBAR*/
.navbar,
.nav {
    display: flex;
    justify-content: space-evenly;
}

.navbar {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.navbar .nav-logo {
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.nav {
    width: 100%;
}

.nav .nav-item,
.nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-item.relative {
    position: relative;
}

.nav .nav-link {
    
    color: var(--black);
   
}

.nav .nav-link img{
    margin-left: .5rem;
    width: 2rem;
}

.nav .nav-dropdown-menu {
    visibility: hidden;
    width: max-content;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 1rem 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 0.5rem 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0.5rem 1px rgba(0,0,0,0.75);
    position: absolute;
    top: 3.5rem;
    left: 0;
    opacity: 0;
    transition: var(--transition);
    box-sizing: content-box;
}

.nav-dropdown-menu .nav-item {
    justify-content: flex-start; 
 }

.nav .nav-dropdown-menu.show {
    visibility: visible;
    opacity: 1;
}

.nav .nav-dropdown-menu .nav-item {
    margin: 1rem 0;
}

/*FOOTER*/

footer {
    padding: 2.5rem 0;
}

footer p {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

/************************************HOME PAGE***************************************************/

/*BANNER*/

/*TESTEMONIALS*/
.art-selection,
.art-selection-wrap,
.art-selection-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}

/************************************CATEGORY PAGE***************************************************/

/*BREADCRUMBS*/
.breadcrumb,
.breadcrumb ul,
.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb {
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.breadcrumb li .breadcrumb-divider {
    width: 20px;
    margin: 0 3px;
}

/*FILTER*/
.filter {
    margin-bottom: 1.5rem;
}

.filter-btn {
    justify-content: center;
    margin-bottom: 1.5rem;
}

.filter-section {
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

.filter-section.show {
    visibility: visible;
    opacity: 1;
}

.filter-dropdown {
    visibility: hidden;
    display: none;
    transition: var(--transition);
}

.filter-dropdown.show {
    visibility: visible;
    display: block;
}

.filter-dropdown-btn {
    justify-content: space-between;
    margin-bottom: 2rem;
}

.filter-dropdown-btn span{
    margin-left: 1rem;
}

.filter-dropdown-btn img{
    margin-right: 1rem;
}

.filter-dropdown .form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 3px;
}

.filter-dropdown .form-check-input {
    margin-right: 0.8rem;
}

.filter-dropdown .form-check-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-dropdown .form-tag{
    display: block;
    margin-right: 1rem;
}

.filter-dropdown .form-tag-year{
    width: 4rem;
}

.filter-body {
    margin-bottom: 2rem;
}

.filter-btn-submit {
    padding: 1.2rem 0;
    margin: 1rem 0 ;
    background-color: var(--black);
    color: #fff;
}

.filter-btn-reset {
    margin-bottom: 2.5rem
}

/*POST TEMPALTE*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.posts-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.post {
    border-radius: 1rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;  
    cursor: pointer;
    width: calc((100% - 1.25rem));
    box-shadow: 0px 0px 1rem 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 0.5rem 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0.5rem 1px rgba(0,0,0,0.75);
}

.post .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.post .card-img-top {
    width: 100%;
    min-height: 26.5rem;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.post .card-body {
    width: 100% ;
    padding: 2rem 2.5rem ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--black);
}

.post .card-title {
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.post .card-tag {
    border-radius: 0.5rem;
    padding: 1rem 3px;
    font-size: 1.6rem;
}

/*LOAD MORE*/
.load-more {
    margin: 2.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.load-more-btn {
    background: var(--black);
    color: #fff;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/*MODAL*/
.post-modal {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-modal.show {
    visibility: visible;
}

.post-modal-dialog {
    opacity: 0;
    transition: var(--transition);
    border-radius: 1rem;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-modal.show .post-modal-dialog {
    margin: 0 5px;
    position: relative;
    z-index: 10;
    opacity: 1;
}

.post-modal-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.post-modal-header,
.post-modal-arrows {
    height: 8rem;
    padding: 0 1.5rem;
    padding-left: 2rem;
}

.post-modal-header strong{
    font-size: 25px;
}
 
.post-modal-header,
.post-modal-footer {
    background-color: #fff;
}

.post-modal-footer {
    padding-bottom: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.post-modal-header,
.post-modal-footer .post-modal-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.post-modal-header .post-modal-close,
.post-modal-footer .post-arrow-btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-modal-body {
    width: 100%;
    background-color: #fff;
}

.post-modal-body img{
   object-fit: contain;
}

.post-modal-footer .post-modal-arrows {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    position: relative;
}

.post-modal-footer .post-arrow-btn.prev, 
.post-modal-footer .post-arrow-btn.next {
    position: absolute;
}

.post-modal-footer .post-arrow-btn.prev {
    left: 1.5rem;
}

.post-modal-footer .post-arrow-btn.next {
    right: 1.5rem;
}

.post-modal-footer .post-category {
    padding: .5rem 2rem;
}

.post-modal-arrows i,
.post-modal-close i {
    font-size: 3rem;
    cursor: pointer;
}

@media screen and (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 720px;   
    }

    .posts {
        justify-content: flex-start;
    }

    .post {
        width: 47%;
        margin: 1rem;
    }

    .post-modal-body img{
        aspect-ratio: 16/9;
     }
     
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 140rem;
    }

    .breadcrumb span {
        margin-right: 2.5rem;
    }

    .main-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .filter {
        width: 28rem;
        margin-right: 3rem;
        margin-top: 1rem;
    }

    .filter-dropdown .form-check-label {
        width: 100%;
    }

    .filter-section {
        visibility: hidden;
        opacity: 1;
        transition: var(--transition);
    }
    
    .filter-section.show {
        visibility: hidden;
        opacity: 0;
    }
    
    .filter-dropdown {
        visibility: visible;
        display: block;
    }
    
    .filter-dropdown.show {
        visibility: hidden;
        display: none;

    }

    .post {
        width: 31%;
    }

    .post .card-title {
        font-size: 2.6rem;
    }

}
