body {
    font-family: 'Outfit', sans-serif;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,li,ol {
    margin: 0 !important;
}

img {
    object-fit: cover;
    max-width: 100%;
}

/* HEADER*/
.container-fluid {
    padding: 0 !important;
}

/*BREADCRUMBS*/
.post-breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.breadcrumb-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb-title {
    font-weight: 400;
    font-size: 16px;
    display: flex;
}

/*FILTER*/
.post-filter,
.post-filter .filter-btn {
    margin-bottom: 20px;
}

.post-filter .card-body {
    width: 100%;
} 

/*POST TEMPALTE*/
.post-container {
    display: flex;
    flex-direction: column;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-wrapper .post {
    max-width: 100%;
    margin-bottom: 5%;
}

/*MODAL*/
.post-modal {
    display: none; 
}

.post-modal.show {
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-modal-dialog {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 10px;
}

.post-modal.show .post-modal-dialog {
    margin: 0 5px;
    position: relative;
    z-index: 10;
    opacity: 1;
}

.post-modal-header,
.post-modal-arrows {
    height: 80px;
    padding: 0 20px;
}

.post-modal-header strong{
    font-size: 25px;
}
 
.post-modal-header,
.post-modal-footer {
    background-color: #fff;
}

.post-modal-header,
.post-modal-footer .post-modal-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.post-modal-header .post-modal-close,
.post-modal-footer .post-arrow-btn {
    height: 100%;
    width: 80px;
    margin-right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-modal-body {
    height: 75%;
    width: 100%;
    background-color: #fff;
}

.post-modal-footer {
    padding-bottom: 15px;
}

.post-modal-footer .post-modal-arrows {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.post-modal-header .post-modal-close {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.post-modal-footer .post-arrow-btn.prev {
    margin-right: 0;
    margin-left: -20px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.post-modal-footer .post-arrow-btn.next {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.post-modal-footer .post-category {
    padding: 5px 20px;
}

.post-modal-close i,
.post-modal-arrows i {
    font-size: 35px;
    cursor: pointer;
}

@media screen and (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 720px;   
    }

    /*MODAL*/
    .post-modal.show .post-modal-dialog {
        margin: 0;
    }
}

@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }

    /*FILTER*/
    .post-filter .card-body {
        max-width: 375px !important;
    }  

    /*POST TEMPLATE*/
     .post-row {
        justify-content: flex-start;
    }

    .post-wrapper .post {
        width: 32%;
        margin-bottom: 2%;
    }

    .post-wrapper .post:nth-child(2) {
        margin-left: 2%;
        margin-right: 2%;
    }

    .post-container {
        flex-direction: row;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width:1400px) {
    .container {
        max-width: 1200px;
    }
}